/*
Margins
	88px top bottom
	24px left right
	34px between text and card edge
proportions
	display 375 x 956
	image 327 x 240
	card 327 x 780
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
	box-sizing: border-box;
}
body {
	background-color: hsl(233, 47%, 7%);
	font-size: 15px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	color: hsla(0, 0%, 100%, 0.75);
}
h1 {
	font-weight: 700;
	font-size: 25px;
	color: white;
	margin-bottom: 0px;
	padding-bottom: 0px;
    margin-block-end: 0px;
}
img {
    object-fit: contain;
    margin: 0px;
    padding: 0px;
    max-height: 100%;
    border-radius: 0.5rem;
}
.card {
	display: flex;
	width: 87.2vw;
	height: 81.6vh;
	margin: 9.2vh 6.4vw;  /*Is this really needed?*/
	flex-direction: column;
	background-color: hsl(244, 38%, 16%);
	border-radius: 0.5rem;
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.card::-webkit-scrollbar {
	display: none;
}
.bg-image {
	background: url('stats-preview-card-component-main/images/image-header-mobile.jpg');
	height: 30.77%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: inset 0px 0px 0px 1000px hsla(277, 64%, 61%, 0.3);
}
.bg-overlay {
	width: 100%;
	height: 100%;
	background-color: hsla(277, 64%, 61%, 0.8);
	mix-blend-mode: multiply;
}
.accent {
	color: hsl(277, 64%, 61%);
}
.par-item {
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.6);
	margin-block-start:  0px;
}
.text-items {
	margin-top: 42px;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.text-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card > [class^='text'] {
	padding: 0px 10.4%;
}
.long-text {
	line-height: 150%;
	max-width: 70%;
}

/*
Margin
	177px t/b
	165px l/r
card 1112 x 446 
display 1440 x 800
image 541 x 446
*/

@media (min-width: 1200px) {
	.card {
		display: flex;
		flex-direction: row-reverse;
		width: 77.22vw;
		height: 55.75vh;
		margin: 22.125vh 11.39vW;
	}
	.bg-image{
		width: 120%;  /*I don't understand how to properly set the width in order to cover 48% of the card*/
		height: 100%;
	}
	.text-items{
		margin: 0;
		display: flex;
		/*padding: 9.375vh 8.0vw 7.875vh 4.792vw !important; /*is this the right way to set the padding?*/*/
		text-align: left;
		justify-content: space-between;;
		align-content: flex-start;
	}
	.text-items > .text-item {
		display: flex;
		direction: column;
		align-content: flex-start;
		align-items: flex-start;

	}
	.heads {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

	}
	h1 {
		margin-block-start: 0px;
	}
	.long-text{
		max-width: 100%;
		padding-top: 3%;
	}

}